@model SalesApp.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalji proizvoda</h1>

<div>
    <h4>Proizvod</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Uredi</a> |
    <div style="margin-top:10px">
        <a asp-action="Index" class="btn btn-warning">Lista proizvoda</a>

    </div>
</div>
