@model SalesApp.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>
        <div class="form-group">
           
            <table class="table">

                <thead>
                <th scope="col">Naziv</th>
                <th scope="col">Cena</th>
                <th scope="col">Kolicina</th>

                </thead>
                
                <tbody>
                    @foreach (OrderDetail orderDetail in ViewBag.OrderDetails)
                    {
                        <tr>
                            <td >
                                @orderDetail.Product.ProductName
                            </td>
                            <td>
                                @string.Format("{0:0.00}", orderDetail.Product.ProductPrice)
                            </td>
                            <td>
                                <input name="orderDetails[]" value="@orderDetail.Quantity">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        
    
    </dl>
</div>
<div>
    
    <div style="margin-top:10px">
        <a asp-action="Index" class="btn btn-warning">Lista porudžbina</a>

    </div>
</div>
