@model SalesApp.Models.Client

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegularDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegularDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaysInDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaysInDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClientId">Edit</a> |
    <div style="margin-top:10px">
        <a asp-action="Index" class="btn btn-warning">Lista kupaca</a>

    </div>
</div>
